*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 800px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px lightslategray;
    user-select: none;
}

section .tools{
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px;
    height: 55px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    background-color: lightslategray;
    border-bottom: 1px solid black;
}

section .tools p{
    color: #fff;
    font-weight: bold;
    margin-right: auto;
}

section .tools button{
    all: unset;
    padding: 4px 8px;
    box-sizing: border-box;
    border: solid 1px #aaa;
    background-color: azure;
    font-weight: bold;
    cursor: pointer;
}
section .tools button:disabled{
    color: red;
}

section .tool-canvas{
    position: absolute;
    top: 0;
}